.paragraph0 {
    background-color:rgba(74, 123, 228, 0.915);
}
.sky {
    color:white;
}

.fires {
    color: rgb(40, 148, 190);
}
.day {
    color:yellow;
    background-color: darkgreen;
}

#inferno {
    color:black;
    background-color: yellow;
}

.spanstyle {
    color: orange;
}



.paragraph1 {
    color:red
}

.paragraph2 {
    background-color: green;
}

.paragraph3 {
    background-color: yellow;
}

a {
    color:rgb(16, 198, 16);
    text-decoration: none;
}

a:hover {
    color:rgb(247, 57, 57);
}